{% extends 'base.html.twig' %}

{% block title %}Inscrivez Vous
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}


	<section class="form-container">



		<form action="" method="post">

			{{ form_errors(registrationForm) }}

			{{ form_start(registrationForm) }}

		     <h3>Inscrivez Vous</h3>

			<input name="{{ field_name(registrationForm.firstName) }}" value="{{ field_value(registrationForm.firstName) }}" placeholder="{{ field_label(registrationForm.firstName) }}" class="box">

			<input name="{{ field_name(registrationForm.lastName) }}" value="{{ field_value(registrationForm.lastName) }}" placeholder="{{ field_label(registrationForm.lastName) }}" class="box">

			<input name="{{ field_name(registrationForm.email) }}" value="{{ field_value(registrationForm.email) }}" placeholder="{{ field_label(registrationForm.email) }}" class="box">

			<input type="password" name="{{ field_name(registrationForm.plainPassword) }}" value="{{ field_value(registrationForm.plainPassword) }}" placeholder="{{ field_label(registrationForm.plainPassword) }}" class="box">

			<div class="checkbox-container">
				<div class="checkbox">
					<label>
						<input type="checkbox" name="{{ field_name(registrationForm.agreeTerms) }}" value="{{ field_value(registrationForm.agreeTerms) }}" placeholder="{{ field_label(registrationForm.agreeTerms) }}">
                        Veuillez accepter les conditions d'utilisation de vos données personelles
					</label>
					
				</div>
				<a href={{path('app_rgpd')}} >Mentions légales et CGV</a>
						



				<button type="submit" class="btn">Je m'inscris</button>

				{{ form_end(registrationForm) }}
			</form>


		</section>

	{% endblock %}
