{% extends 'base.html.twig' %}

{% block title %}Hello MySpaceController!{% endblock %}

{% block body %}
<section class="products">

{% for flash_success in app.flashes('sucess') %}
	<div class="alert alert-sucess" role="alert">{{ flash_sucess }}</div>
{% endfor %}


<h1>Bonjour {{ firstName }}</h1>

<br>
{% if verified is same as true %}
<div class="text">Votre adresse email à bien été verifiée ✅</div>

{% elseif verified is same as false %}
<div class="text">Votre adresse email n'a pas été verifiée ❌</div>

{% endif %}

<br>
<br>

{# {% if is_granted('ROLE_CUSTOMER')%} #}
<h2>Mes Achats</h2>

{# Afficher card produits achetés #}
<div class="box-container">


	<form action="" method="post" class="box">
		<input type="hidden" name="pid" value="<?= $fetch_product['id']; ?>">
		<input type="hidden" name="name" value="<?= $fetch_product['name']; ?>">
		<input type="hidden" name="price" value="<?= $fetch_product['price']; ?>">
		<input type="hidden" name="image" value="<?= $fetch_product['image_01']; ?>">
		<button class="fas fa-heart" type="submit" name="add_to_wishlist"></button>
		<a href="quick_view.php?pid=<?= $fetch_product['id']; ?>" class="fas fa-eye"></a>
		<img src="" alt="">

		<div class="name">
			Titre de l'annonce

		</div>
		<div class="flex">
			<div class="price">
				<span>Nrs.</span>

			</div>
			{# <input type="number" name="qty" class="qty" min="1" max="99" onkeypress="if(this.value.length == 2) return false;" value="1"> #}
		</div>
	
	</form>


</div>

{# {% endif %} #}

<h3>Mes Annonces</h3>
{# Afficher annonces postées #}
<div class="box-container">


	<form action="" method="post" class="box">
		<input type="hidden" name="pid" value="<?= $fetch_product['id']; ?>">
		<input type="hidden" name="name" value="<?= $fetch_product['name']; ?>">
		<input type="hidden" name="price" value="<?= $fetch_product['price']; ?>">
		<input type="hidden" name="image" value="<?= $fetch_product['image_01']; ?>">
		<button class="fas fa-heart" type="submit" name="add_to_wishlist"></button>
		<a href="quick_view.php?pid=<?= $fetch_product['id']; ?>" class="fas fa-eye"></a>
		<img src="" alt="">

		<div class="name">
			Titre de l'annonce

		</div>
		<div class="flex">
			<div class="price">
				<span>Nrs.</span>

			</div>
			{# <input type="number" name="qty" class="qty" min="1" max="99" onkeypress="if(this.value.length == 2) return false;" value="1"> #}
		</div>
	
	</form>


</div>

<div class="data">
<h3>Vos données personnelles</h3>
<br>


<p>{{ firstName }} {{lastName}} </p>
<p>{{ email }}</p>
</div>

</section>


{% endblock %}
