{% extends 'base.html.twig' %}

{% block title %}My Space
{% endblock %}

{% block body %}
	<section class="products">

		{% for flash_success in app.flashes('sucess') %}
			<div class="alert alert-sucess" role="alert">{{ flash_sucess }}</div>
		{% endfor %}

<div class="myspace">
		<h1>Bonjour
			{{ firstName }}</h1>

		<br>
		{% if verified is same as true %}
			<div class="text">Votre adresse email à bien été verifiée ✅</div>

		{% elseif verified is same as false %}
			<div class="text">Votre adresse email n'a pas été verifiée ❌</div>

		{% endif %}
</div>
		<br>
		<br>

		{# {% if is_granted('ROLE_CUSTOMER')%} #}


		<h3 class="heading">Mes Annonces</h3>

		<div class="box-container">
			{% if submittedPosts is not empty %}
				{% for post in submittedPosts %}

					<form action="" method="post" class="box">

						{% for file in post.postImages %}


							<img src=" {{ asset('uploads/' ~ file.postImage) }}" alt="postimage">

						{% endfor %}
						<div class="name">
							{{ post.postTitle }}


						</div>
						<div class="flex">

							<div class="price">
								<span>{{ post.postPrice }}</span>

								<span>€</span>
							</div>

						</div>


						{% if post.isSold() %}
							<span style="color: green;">Vendu</span>
						{% else %}
							<span style="color: red;">En Vente</span>
						{% endif %}
					</form>
				{% else %}
					<p>No submitted posts found.</p>


				{% endfor %}
			</div>
		{% else %}
			<p>No submitted posts found.</p>
		{% endif %}


		<h3 class="heading">Mes achats</h3>

		<div class="box-container">

			{% for payment in purchasedPosts %}


				<form action="" method="post" class="box">

					{% for file in payment.Post.postImages %}


						<img src=" {{ asset('uploads/' ~ file.postImage) }}" alt="postimage">

					{% endfor %}
					<div class="name">
						{{ payment.Post.postTitle }}


					</div>
					<div class="flex">

						<div class="price">
							<span>{{ payment.Post.postPrice }}</span>

							<span>€</span>
						</div>

					</div>
				</form>
			{% else %}
				<li>No purchased posts found.</li>

			{% endfor %}


		</div>


	</div>

	<div class="data">
		<h3 class="heading-data">Vos données personnelles</h3>
		<br>


		<p>{{ firstName }}
			{{lastName}}
		</p>
		<p>{{ email }}</p>
	</div>
</section>{% endblock %}
