{% extends 'base.html.twig' %}

{% block title %}Réinitialisez votre mot de passe
{% endblock %}


{% block body %}

<section class="form-container">

{# <form> #}


    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}


    {{ form_start(requestForm) }}

<h1>Réinitialisez votre mot de passe</h1>






<div class="box-container">

<input  name="{{ field_name(requestForm.email) }}" value="{{ field_value(requestForm.email) }}" placeholder="Email" class="box">

      
        <div>
            <span>
               Entrez votre adresse e-mail et nous vous enverrons un
                lien pour réinitialiser votre mot de passe.
            </span>
        </div>

<button class="btn btn-primary">
	Envoyer un e-mail de réinitialisation du mot de passe</button>

    {{ form_end(requestForm) }}
<div>

{# </form> #}
</section>

{% endblock %}
