{% extends 'base.html.twig' %}

{% block seo %}
	<meta
	name="description" content="Parcourez toutes les annonces de mangas d'occasion sur Chuko Manga. Découvrez des milliers de titres, de collections complètes à des séries rares, et trouvez votre prochain coup de cœur littéraire.">
	<!--Seo Réseaux-->
	<meta property="og:title" content="Chuko Manga">
	<meta property="og:type" content="website">
	<meta property="og:description" content="Parcourez toutes les annonces de mangas d'occasion sur Chuko Manga. Découvrez des milliers de titres, de collections complètes à des séries rares, et trouvez votre prochain coup de cœur littéraire.">
	<meta property="og:image" content="{{ asset('LogoChukoManga5.ico') }}">
	<meta property="og:site_name" content="Chuko Manga">
	<meta property="og:url" content="{{ app.request.getSchemeAndHttpHost() }}">

{% endblock %}


{% block title %}Nos annonces
{% endblock %}

{% block body %}

	<section class="products">

		<h1 class="heading">Toutes les annonces</h1>

		<!-- CARD POST BEGIN -->


		<div
			class="box-container">

			<!-- Boucle sur tous les posts disponibles -->

			{% for post in availablePosts %}


				<form class="box">


					<a href={{ path('app_quick_view', {'id': post.id} ) }} class="fas fa-eye"></a>


					<!-- Boucle sur les images du post -->
					{% for file in post.postImages %}
						<img src=" {{ asset('uploads/' ~ file.postImage) }}" alt="postimage">
					{% endfor %}

					<div class="name">
						{{ post.postTitle }}
					</div>

					<div class="flex">
						<div class="price">
							<span>{{ post.postPrice }}</span>
							<span>€</span>
						</div>
					</div>

					<!-- Lien pour ajouter le post au panier -->
					<a href="{{ path('app_cart_add', {'id': post.id}) }}" class="btn add-to-cart">Ajouter au panier</a>


				</form>


			{% endfor %}
		</div>


		<!-- CARD POST END -->


	</section>


{% endblock %}
