{% extends 'base.html.twig' %}

{% block title %}Nos annonces
{% endblock %}

{% block body %}

	<section class="products">

		<h1 class="heading">Toutes les annonces</h1>

		<!-- CARD POST BEGIN -->


		<div
			class="box-container">

			<!-- Boucle sur tous les posts disponibles -->

			{% for post in availablePosts %}


				<!-- Formulaire pour chaque post -->
				<form
					class="box">

					<!-- Lien vers la vue rapide du post avec une icône d'œil -->
					<a href={{ path('app_quick_view', {'id': post.id} ) }} class="fas fa-eye"></a>


					<!-- Boucle sur les images du post -->
					{% for file in post.postImages %}
						<img src=" {{ asset('uploads/' ~ file.postImage) }}" alt="postimage">
					{% endfor %}

					<div class="name">
						{{ post.postTitle }}
					</div>

					<div class="flex">
						<div class="price">
							<span>{{ post.postPrice }}</span>
							<span>€</span>
						</div>
					</div>

					<!-- Lien pour ajouter le post au panier -->
					<a href="{{ path('app_cart_add', {'id': post.id}) }}" class="btn add-to-cart">Ajouter au panier</a>
				</form>
			{% endfor %}
		</div>

		<!-- CARD POST END -->
		<p class="empty">no products found!</p>

	</section>


{% endblock %}
