{% extends 'base.html.twig' %}

{% block seo %}
	<meta
	name="description" content="Explorez les différentes catégories de mangas d'occasion sur Chuko Manga. Que vous cherchiez des shōnen, des seinen, des yaoi, ou d'autres genres, trouvez facilement ce que vous cherchez.">
	<!--Seo Réseaux-->
	<meta property="og:title" content="Chuko Manga">
	<meta property="og:type" content="website">
	<meta property="og:description" content="Explorez les différentes catégories de mangas d'occasion sur Chuko Manga. Que vous cherchiez des shōnen, des seinen, des yaoi, ou d'autres genres, trouvez facilement ce que vous cherchez.">
	<meta property="og:image" content="public\LogoChukoManga5.ico">
	<meta property="og:site_name" content="Chuko Manga">
	<meta property="og:url" content="{{ app.request.getSchemeAndHttpHost() }}">

{% endblock %}


{% block title %}


	{{ category.name }}

{% endblock %}

{% block body %}

	<section class="products">
	
<div class="category-title">

		<h1 class="heading">{{ category.name }}</h1>
</div>
		<div class="box-container">
			{% for post in posts %}
				<form class="box">


					<a href="{{ path('app_quick_view', {'id': post.id} ) }}" class="fas fa-eye"></a>

					{% for file in post.postImages %}
						<img src="{{ asset('uploads/' ~ file.postImage) }}" alt="postimage">
					{% endfor %}

					<div class="name">{{ post.postTitle }}</div>
					<div class="flex">
						<div class="price">
							<span>{{ post.postPrice }}</span>
							<span>€</span>
						</div>
					</div>
					<a href="{{ path('app_cart_add', {'id': post.id}) }}" class="btn">Ajouter au panier</a>
				</form>
			{% endfor %}
		</div>
	</section>

{% endblock %}
