{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}
	<section class="contact">
		<div class="banner">
			<img src="{{ asset('./images/banner/bannerChuko4.png') }}" alt="Banner Image">
			<div class="category_title">Contact</div>
		</div>
		<div class="contact-form-container">
			<h3>Envoyer votre message</h3>
			{{ form_start(contactForm) }}

			{# Display success flash message #}
			{% for message in app.flashes('send') %}
				<div class="alert alert-success">
					{{ message }}
				</div>
			{% endfor %}

			{{ form_row(contactForm.email, {'attr': {'class': 'box', 'placeholder': 'Email'}}) }}

			{{ form_row(contactForm.message, {'attr': {'class': 'box', 'placeholder': 'Message'}}) }}

			<input type="submit" value="Send message" class="btn">

			{{ form_end(contactForm) }}
		</div>
	</section>
{% endblock %}

