{% extends 'base.html.twig' %}

{% block seo %}
	<meta
	name="description" content="Déposez votre annonce sur Chuko Manga en quelques clics. Vendez vos mangas d'occasion directement aux passionnés et atteignez une audience ciblée. Créez votre annonce dès aujourd'hui !">
	<!--Seo Réseaux-->
	<meta property="og:title" content="Chuko Manga">
	<meta property="og:type" content="website">
	<meta property="og:description" content="Déposez votre annonce sur Chuko Manga en quelques clics. Vendez vos mangas d'occasion directement aux passionnés et atteignez une audience ciblée. Créez votre annonce dès aujourd'hui !">
	<meta property="og:image" content="public\LogoChukoManga5.ico">
	<meta property="og:site_name" content="Chuko Manga">
	<meta property="og:url" content="{{ app.request.getSchemeAndHttpHost() }}">

{% endblock %}


{% block title %}Vendre
{% endblock %}

{% block body %}

	<section class="form-container">


		<div class="form-post">

			<h3>POSTER VOTRE ANNONCE</h3>

			{{ form_start(form) }}

			{{ form_errors(form) }}


			<input name="{{ field_name(form.postTitle) }}" value="{{ field_value(form.postTitle) }}" placeholder="{{ field_label(form.postTitle) }}" class="box">

			<input name="{{ field_name(form.postEdition) }}" value="{{ field_value(form.postEdition) }}" placeholder="{{ field_label(form.postEdition) }}" class="box">


			{{form_row(form.postCondition)}}

			{{form_row(form.postImages)}}


			<textarea name="{{ field_name(form.postResume) }}" value="{{ field_value(form.postResume) }}" placeholder="{{ field_label(form.postResume) }}" class="box"></textarea>


			<input name="{{ field_name(form.postPrice) }}" value="{{ field_value(form.postPrice) }}" placeholder="{{ field_label(form.postPrice) }}" class="box">


			{{ form_end(form) }}

		</div>
	</section>


{% endblock %}
