{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}

<section class="form-container">


<form action="" method="post">

  <h3>POSTER VOTRE ANNONCE</h3>
{{ form_start(form) }}

{{ form_errors(form) }}


<input name="{{ field_name(form.postTitle) }}" value="{{ field_value(form.postTitle) }}" placeholder="{{ field_label(form.postTitle) }}" class="box">

<input name="{{ field_name(form.postEdition) }}" value="{{ field_value(form.postEdition) }}" placeholder="{{ field_label(form.postEdition) }}" class="box">





<div class="box-container">

{{form_row(form.postCondition)}}

{{form_row(form.postImages)}}

</div>

<input name="{{ field_name(form.postPrice) }}" value="{{ field_value(form.postPrice) }}" placeholder="{{ field_label(form.postPrice) }}" class="box">



<button type="submit" class="btn">Soumettre mon offre</button>





{{ form_end(form) }}
</form>
</section>





{% endblock %}
