{% extends 'base.html.twig' %}

{% block title %}
	{{post.postTitle}}

{% endblock %}

{% block body %}
	<section class="quick-view">


		<div class="banner">
			<img src="{{asset('./images/banner/bannerChuko11.png')}}" alt="">
		</div>

		{# Formulaire qui affiche les informations du post récupérées depuis la base de données #}
		<form class="box">
			<div class="row">
				<div class="image-container">
					<div class="main-image">

						{% for file in post.postImages %}
							<img src="{{ asset('uploads/' ~ file.postImage) }}" alt="postimage">
						{% endfor %}
					</div>
					<div
						class="sub-image">{# Pour ajouter plus d'image #}
					</div>
				</div>
				<div class="content">
					<div class="name">
						{{post.postTitle}}
					</div>

					<div class="flex">
						<div class="price">
							<span>{{post.postPrice}}
							</span>
							<span>€</span>
						</div>

					</div>
					<div class="details">
						<div class="product_state">
							<span>Etat :
							</span>
							<span>{{ post.postCondition}}</span>
						</div>
						<div class="product_edition">
							<span>Edition :
							</span>
							<span>{{post.postEdition}}</span>
						</div>
						<div class="product_seller">
							<span>Vendeur :
								{{ user.Email }}</span>
						</div>
					</div>


					<div class="product_resume">
						<p>
							{{post.postResume}}
						</p>
					</div>


					{# Bouton pour ajouter au panier #}
					<div class="flex-btn">
						<input type="submit" value="AJOUTER AU PANIER" class="btn" name="add_to_cart">
					</div>


				</div>
			</div>
		</form>
		{# Fin du formulaire #}


	</section>

{% endblock %}
